<%- include('templates/header', {tittle: "Error"}) %>

    <div class="container-fluid">
        <div class="row m-auto px-5 mt-5">
            <div class="card text-center">
                <div class="card-body">
                    <h3 class="card-title">Se ha presentado un error</h3>
                    <h4 class="card-title text-info" ><%= message %></h4>
                    <img src="/../public/images/error.png" class="card-img-top imgError"
                    alt="Se ha producido un error" /><br>
                    <a href="/../" class="btn btn-dark mt-3">Volver a TriviaGame</a>
                </div>
            </div>
        </div>
    </div>

    <%- include('templates/footer') %>