<%- include('templates/header', {tittle: "Login", userName: "Anónimo", userType: "Invitado"}) %>

<div class="container">
    <div class="wrapper w-70" >
        <div class="logo">
            <img src="/../public/images/trivia.png" alt="TriviaGame">
        </div>
        <div class="text-center mt-4 name">
            <h1>Iniciar Sesión</h1>
        </div>
        <form action="authenticate" method="POST" class="p-3 mt-3">
            <h6>Nombre de usuario</h6>
            <div class="form-field d-flex align-items-center">
                <span class="far fa-user"></span>
                <input type="text" name="userName" id="userName" placeholder="Nombre de usuario" required>
            </div>
            <h6>Contraseña</h6>
            <div class="form-field d-flex align-items-center">
                <span class="fas fa-key"></span>
                <input type="password" name="userPassword" id="userPassword" placeholder="Contraseña" required>
            </div>
            <button class="btn btn-dark mt-3" id="btnLogin" type="submit">Iniciar Sesión</button>
        </form>
        <div class="text-center fs-6">
            <small><a href="#">¿Olvido la contraseña?</a> o ¿No tiene cuenta? <a href="/web/signup">Registrese aquí</a></small>
        </div>
    </div>
</div>

<%- include('templates/footer') %>