.imgIcon {
    width: 2rem !important;
    height: 2rem !important;
}

.imgError {
    width: 30% !important;
}

.cardQuestions {
    width: 24rem !important;
    height: 10rem;
    padding: 1.5%;
    margin: 1.5%;
    box-sizing: border-box;
}

/* Formulario Login - Inicio*/
.wrapper {
    max-width: 25rem;
    min-height: 35rem;
    margin: 80px auto;
    padding: 2rem 1rem 1rem 1rem;
    background-color: #ecf0f3;
    border-radius: 15px;
}

.logo {
    width: 5rem;
    margin: auto;
}

.logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0px 0px 3px #5f5f5f,
        0px 0px 0px 5px #ecf0f3,
        8px 8px 15px #a7aaa7,
        -8px -8px 15px #fff;
}

.wrapper .name {
    font-weight: 600;
    font-size: 1.4rem;
    letter-spacing: 1.3px;
    padding-left: 10px;
    color: #555;
}

.wrapper .form-field input {
    width: 100%;
    display: block;
    border: none;
    outline: none;
    background: none;
    font-size: 1.2rem;
    color: #666;
    padding: 10px 15px 10px 10px;
    /* border: 1px solid red; */
}

.wrapper .form-field {
    padding-left: 10px;
    margin-bottom: 20px;
    border-radius: 20px;
    box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #fff;
}

.wrapper .form-field .fas {
    color: #555;
}

.wrapper .btn {
    box-shadow: none;
    width: 100%;
    height: 40px;
    background-color: #03A9F4;
    color: #fff;
    border-radius: 25px;
    box-shadow: 3px 3px 3px #b1b1b1,
        -3px -3px 3px #fff;
    letter-spacing: 1.3px;
}

.wrapper .btn:hover {
    background-color: #039BE5;
}

.wrapper a {
    text-decoration: none;
    font-size: 0.8rem;
    color: #03A9F4;
}

.wrapper a:hover {
    color: #039BE5;
}

@media(max-width: 380px) {
    .wrapper {
        margin: 30px 20px;
        padding: 40px 15px 15px 15px;
    }
}
/* Formulario Login - Fin*/

/* Inputs radio de la Trivia - Inicio */
input[type=radio] {
    display: none;
    padding: 2rem;
    background: #fcfcfc;
}

.label {
    display: inline-block;
    margin: 0.2rem;
    padding: 0.5rem;
    background: #fcfcfc;
    width: 90%;
    min-width: 100px;
    cursor: pointer;
}

.label:hover {
    background: #5b43e6;
    color: #fff;
    font-weight: bold;
}

/* comprobar checked*/
input:checked + label {
    background: #7059f1;
    color: #fff;
    font-weight: bold;
}
input[type=radio]:checked + label {
    background: #27159b;
    color: #ffffff;
}
/* Formulario Login - Fin */

.correctAnswer{
    background: #95f1b49d !important;
    font-weight: bold !important;
}

.question{
    background: #557ae0a1 !important;
    font-weight: bold !important;
}

.triviaresult{
    background: #72737454 !important;
    width: 100% !important;
    box-sizing: border-box !important;
}

.imgresult{
    width: 100% !important;
    height: 100% !important;
    object-fit: cover !important;
}