<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01"
            aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <a class="navbar-brand" href="/../">Trivia Game - <span class=""></span></a>
            <ul class="nav justify-content-end">
                <li class="nav-item">
                    <a class="nav-link text-light" href="/web/game/triviaquestions">Ver Preguntas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" href="/web/game/formnewtriviaquestion">Ingresar pregunta</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" href="/web/adminprofile/manageusers">Administrar Usuarios</a>
                </li>
                <li class="nav-item">
                    <a class=" nav-link text-light" onclick="cerrarSesion()"> Iniciar Sesión / Cerrar
                        Sesión</a>
                </li>
            </ul>
        </div>
    </div>
</nav>